<div class="renderBody">
   <div class="line1">
      <h2>Popular Books</h2>
   </div>
   
   <div class="booksRender">
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      <div class="booksPane">
         
         <%= image_tag("Sommerville.jpg", :alt => "Sommerville") =%>
         <strong>Sommerville 10th Edition</strong>
      </div>
      
   
      
         
      
      
   </div>
   
   
</div>